<app-form [formGroup]="createBookForm" (onSubmit)="createBook()">
  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  <h2>Create Book</h2>

  <app-input controlName="name" [control]="createBookForm.controls.name"></app-input>

  <app-input controlName="description" [control]="createBookForm.controls.description"></app-input>


  <app-multi-select [availableOptions$]="languageOptions$" [placeholder]='"Lang"'
                    (onSelect)="selectedLangcodes = $event"></app-multi-select>
  <app-multi-select [availableOptions$]="categoryOptions$" [placeholder]='"Categories"'
                    (onSelect)="selectedCategories = $event"></app-multi-select>
  <app-multi-select [availableOptions$]="authorOptions$" [placeholder]='"Authors"'
                    (onSelect)="selectedAuthors = $event"></app-multi-select>

  <!-- File Input -->
  <div class="form-group">
  </div>

  <mat-card style="height: 230px; position: relative;">
    <input style="width: 100%; height: 100%; position: absolute; top: 0; left: 0;"
           type="file" class="file"
           (change)="updateFile($event)"/>
    <img *ngIf="preview && preview !== null" mat-card-image [src]="preview" alt="Photo of a Shiba Inu">
  </mat-card>


  <button style="margin: 20px 0;"
          mat-flat-button color="primary"
          [disabled]="loading || createBookForm.invalid">
    Create
  </button>


</app-form>
