<h1>Librarian App</h1>


<nav>
  <ul>
    <li><a routerLink="/books" routerLinkActive="active" ariaCurrentWhenActive="page">Books</a></li>
    <li><a routerLink="/create-book" routerLinkActive="active" ariaCurrentWhenActive="page">Create Book</a></li>
    <li><a routerLink="/create-author" routerLinkActive="active" ariaCurrentWhenActive="page">Create Author</a></li>
    <li><a routerLink="/create-category" routerLinkActive="active" ariaCurrentWhenActive="page">Create Category</a></li>
    <li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
