<div class="wrapper">
  <div class="inner-wrap">
    <mat-form-field style="width: 100%;">
      <mat-select
        [formControl]="itemCtrl"
        (valueChange)="onSelect.emit($event)"
        placeholder="{{placeholder}}"
        [multiple]="true"
        #singleSelect
      >
        <mat-option>
          <ngx-mat-select-search
            [formControl]="itemFilterCtrl"
            placeholderLabel="Find {{placeholder}}..."
            noEntriesFoundLabel="'no matching found'"
            [showToggleAllCheckbox]="true"
            toggleAllCheckboxTooltipMessage="Select / Unselect All"
            [toggleAllCheckboxIndeterminate]="isIndeterminate"
            [toggleAllCheckboxChecked]="isChecked"
            (toggleAll)="toggleSelectAll($event)"
          >
            <mat-icon ngxMatSelectSearchClear>delete</mat-icon>
          </ngx-mat-select-search>
        </mat-option>

        <mat-option *ngFor="let car of filteredItems | async" [value]="car">
          {{ car.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="showSelectedValues" class="inner-wrap">
    <h3>Selected Values</h3>
    <ul *ngFor="let item of itemCtrl?.value">
      <li>{{ item.name }}</li>
    </ul>
  </div>
</div>
